.customer-master {
  width: 100%;
}

.remaining {
  color: var(--danger-color);
  font-weight: 600;
}

.completed {
  color: var(--success-color);
  font-weight: 600;
}

.amount {
  font-weight: 600;
  color: var(--success-color);
}


